<header class="header">
    <nav class="navbar">
        <div class="logo">
            <img src="assets/logo.png" alt="FAST University Logo">
            <span>FAST Voting System</span>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../pages/elections.html">Elections</a></li>
            <li><a href="../pages/results.html">Results</a></li>
            <li><a href="../pages/login.html" class="btn-secondary">Login</a></li>
        </ul>
    </nav>
</header>